<?xml version="1.0"?>
<config>
	<modules>
		<Thredshare_Vendor>
			<version>1.0.0</version>
		</Thredshare_Vendor>
	</modules>

	<global>
		<blocks>
			<checkout>
				<rewrite>
					<onepage_billing>Thredshare_Checkout_Block_Billing</onepage_billing>
				</rewrite>
			</checkout>
		</blocks>
	</global>
</config>