<?xml version="1.0"?>
<config>
	<modules>
		<ET_Oxynic>
			<version>1.0.0</version>
		</ET_Oxynic>
	</modules>
	<global>
		<models>
			<oxynic>
				<class>ET_Oxynic_Model</class>
			</oxynic>
		</models>
		<blocks>
			<oxynic>
				<class>ET_Oxynic_Block</class>
			</oxynic>
		</blocks>
		<helpers>
			<oxynic>
				<class>ET_Oxynic_Helper</class>
			</oxynic>
		</helpers>
		<resources>
			<et_oxynic_setup>
				<setup>
					<module>ET_Oxynic</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</et_oxynic_setup>
		</resources>
		<events>
			<controller_action_layout_render_before>
				 <observers>
                    <oxynic_before_render>
                        <type>singleton</type>
                        <class>oxynic/observer</class>
                        <method>onBeforeLayoutRender</method>
                    </oxynic_before_render>
                </observers>
			</controller_action_layout_render_before>
		</events>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<oxynic>
					<file>et/oxynic.xml</file>
				</oxynic>
			</updates>
		</layout>
		<translate>
			<modules>
				<ET_Oxynic>
					<files>
						<default>ET_Oxynic.csv</default>
					</files>
				</ET_Oxynic>
			</modules>
		</translate>
	</adminhtml>
	<frontend>
		<routers>
			<oxynic>
				<use>standard</use>
				<args>
					<module>ET_Oxynic</module>
					<frontName>oxynic</frontName>
				</args>
			</oxynic>
		</routers>
		<layout>
			<updates>
				<oxynic>
					<file>et/oxynic.xml</file>
				</oxynic>
			</updates>
		</layout>
		<translate>
			<modules>
				<ET_Oxynic>
					<files>
						<default>ET_Oxynic.csv</default>
					</files>
				</ET_Oxynic>
			</modules>
		</translate>
	</frontend>
	<default>
		<et_oxynic_configs>
			<general>
				<theme_color>default</theme_color>
				<theme_layout>fluid</theme_layout>
				<theme_responsive>1</theme_responsive>
			</general>
			<colors>
				<font_family></font_family>
				<font_size></font_size>
				<text_color></text_color>
				
				<use_google_font>1</use_google_font>
				<google_font>Open Sans|Montserrat</google_font>
				<apply_googlefont_to></apply_googlefont_to>
				
				<link_color></link_color>
				<link_hover_color></link_hover_color>
				<background_style></background_style>
				<background_color></background_color>
				<background_pattern></background_pattern>
				<background_image></background_image>
				<background_repeat></background_repeat>
				<background_position></background_position>
			</colors>
			<menus>
				<use_megamenu>1</use_megamenu>
				<menu_mobile>sidebar</menu_mobile>
			</menus>
			<product>
				<show_related_products>1</show_related_products>
				<show_upsell_products>1</show_upsell_products>
				
				<custom_tab></custom_tab>
				<custom_tab_name></custom_tab_name>
				<custom_tab_content></custom_tab_content>
			</product>
			<advanced>
				<show_cpanel>1</show_cpanel>
				<live_less_compile>1</live_less_compile>
				<show_add2cart>1</show_add2cart>
				<show_add2wishlist>1</show_add2wishlist>
				<show_add2compare>1</show_add2compare>
				<show_quickview>1</show_quickview>
			</advanced>
		</et_oxynic_configs>
	</default>
</config>
