<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <ET_Filter>
            <version>1.0.0</version>
        </ET_Filter>
    </modules>
    <global>
        <models>
            <catalog>
                <rewrite>
                    <layer>ET_Filter_Model_Catalog_Layer</layer>
                    <layer_filter_item>ET_Filter_Model_Catalog_Layer_Filter_Item</layer_filter_item>
                    <layer_filter_category>ET_Filter_Model_Catalog_Layer_Filter_Category</layer_filter_category>
                    <layer_filter_attribute>ET_Filter_Model_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_price>ET_Filter_Model_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer>ET_Filter_Model_CatalogSearch_Layer</layer>
                    <layer_filter_attribute>ET_Filter_Model_CatalogSearch_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalogsearch>
            <catalog_resource>
                <rewrite>
                    <layer_filter_attribute>ET_Filter_Model_Catalog_Resource_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalog_resource>
            <filter>
                <class>ET_Filter_Model</class>
                <resourceModel>filter_resource</resourceModel>
            </filter>
            <filter_resource>
                <class>ET_Filter_Model_Resource</class>
                <entities>
                    <attribute_url_key>
                        <table>filter_attribute_url_key</table>
                    </attribute_url_key>
                </entities>
            </filter_resource>
        </models>
        <resources>
            <et_filter_setup>
                <setup>
                    <module>ET_Filter</module>
                </setup>
            </et_filter_setup>
        </resources>
        <blocks>
            <catalog>
                <rewrite>
                    <layer_state>ET_Filter_Block_Catalog_Layer_State</layer_state>
                    <product_list_toolbar>ET_Filter_Block_Catalog_Product_List_Toolbar</product_list_toolbar>
                    <layer_filter_attribute>ET_Filter_Block_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_price>ET_Filter_Block_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer_filter_attribute>ET_Filter_Block_CatalogSearch_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalogsearch>
            <filter>
                <class>ET_Filter_Block</class>
            </filter>
        </blocks>
        <helpers>
            <filter>
                <class>ET_Filter_Helper</class>
            </filter>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <filter>
                        <class>ET_Filter_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </filter>
                </observers>
            </controller_front_init_routers>
        </events>
        <index>
            <indexer>
                <filter_attribute>
                    <model>filter/indexer_attribute</model>
                </filter_attribute>
            </indexer>
        </index>
    </global>
    <admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<ET_Filter before="Mage_Adminhtml">ET_Filter_Adminhtml</ET_Filter>
					</modules>
				</args>
			</adminhtml>
			<filter>
				<use>admin</use>
				<args>
					<module>ET_Filter</module>
					<frontName>filter</frontName>
				</args>
			</filter>
		</routers>
	</admin>
    <frontend>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <ET_Filter before="Mage_Catalog">ET_Filter</ET_Filter>
                    </modules>
                </args>
            </catalog>
            <catalogsearch>
                <args>
                    <modules>
                        <ET_Filter before="Mage_CatalogSearch">ET_Filter</ET_Filter>
                    </modules>
                </args>
            </catalogsearch>
        </routers>
        <layout>
            <updates>
                <filter>
                    <file>et/filter.xml</file>
                </filter>
            </updates>
        </layout>
    </frontend>
    <default>
        <et_filter_configs>
            <catalog>
                <enabled>1</enabled>
                <use_ajax>1</use_ajax>
                <price_slider>1</price_slider>
                <multiple_filters>1</multiple_filters>
				<routing_suffix>filter</routing_suffix>
            </catalog>
        </et_filter_configs>
    </default>
</config>