<?xml version="1.0"?>
<config>
   <modules>
      <ET_Products>
         <version>1.0.0</version>
      </ET_Products>
   </modules>
   <global>
      <models>
         <products>
            <class>ET_Products_Model</class>
         </products>
         <catalog_resource>
            <rewrite>
               <product_collection>ET_Products_Model_Resource_Product_Collection</product_collection>
            </rewrite>
         </catalog_resource>
      </models>
      <blocks>
         <products>
            <class>ET_Products_Block</class>
         </products>
      </blocks>
      <helpers>
         <products>
            <class>ET_Products_Helper</class>
         </products>
      </helpers>
      <resources>
         <et_products_setup>
            <setup>
               <module>ET_Products</module>
            </setup>
            <connection>
               <use>core_setup</use>
            </connection>
         </et_products_setup>
      </resources>
   </global>
   <adminhtml>
      <layout>
         <updates>
            <products>
               <file>et/products.xml</file>
            </products>
         </updates>
      </layout>
      <translate>
         <modules>
            <ET_Products>
               <files>
                  <default>ET_Products.csv</default>
               </files>
            </ET_Products>
         </modules>
      </translate>
   </adminhtml>
   <frontend>
      <routers>
         <products>
            <use>standard</use>
            <args>
               <module>ET_Products</module>
               <frontName>products</frontName>
            </args>
         </products>
      </routers>
      <layout>
         <updates>
            <products>
               <file>et/products.xml</file>
            </products>
         </updates>
      </layout>
   </frontend>
   <default>
      <et_products_configs>
         <general>
            <block_id></block_id>
            <block_title></block_title>
         </general>
         <responsive>
            <col_lg>4</col_lg>
            <col_md/>
            <col_sm/>
            <col_xs/>
         </responsive>
         <resources>
            <data_source>catalog_category</data_source>
            <product_skus/>
            <catalog_category>*</catalog_category>
            <child_category_include>0</child_category_include>
            <include_max_depth>1</include_max_depth>
            <is_new_filter>0</is_new_filter>
            <is_special_filter>0</is_special_filter>
            <is_featured>0</is_featured>
            <order_by>name</order_by>
            <order_dir>ASC</order_dir>
            <product_count>8</product_count>
         </resources>
         <product_renderer>
            <show_title>1</show_title>
            <title_truncate/>
            <show_description>1</show_description>
            <description_truncate/>
            <show_image>1</show_image>
            <image_source>small_image</image_source>
            <image_size>270</image_size>
            <show_add2cart>1</show_add2cart>
            <show_add2wishlist>1</show_add2wishlist>
            <show_add2compare>1</show_add2compare>
            <show_quickview>1</show_quickview>
            <show_pricebox>1</show_pricebox>
            <show_rattingbox>1</show_rattingbox>
         </product_renderer>
      </et_products_configs>
   </default>
</config>
