<?xml version="1.0"?>
<config>
	<modules>
		<ET_Ajax>
			<version>1.0.0</version>
			<depends>
				<Mage_Customer />
				<Mage_Checkout />
			</depends>
		</ET_Ajax>
	</modules>
	<global>
		<models>
			<ajax>
				<class>ET_Ajax_Model</class>
			</ajax>
		</models>
		<blocks>
			<ajax>
				<class>ET_Ajax_Block</class>
			</ajax>
		</blocks>
		<helpers>
			<ajax>
				<class>ET_Ajax_Helper</class>
			</ajax>
			<!-- <checkout>
				<rewrite>
					<cart>ET_Ajax_Helper_Checkout_Cart</cart>
				</rewrite>
			</checkout> -->
		</helpers>
		<resources>
			<et_ajax_setup>
				<setup>
					<module>ET_Ajax</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</et_ajax_setup>
		</resources>
		<events>
			<controller_action_postdispatch_catalog_product_view>
				<observers>
					<ajax>
						<type>singleton</type>
						<class>ajax/observer</class>
						<method>handleOptions</method>
					</ajax>
				</observers>
			</controller_action_postdispatch_catalog_product_view>
		</events>
	</global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<ET_Ajax before="Mage_Adminhtml">ET_Ajax_Adminhtml</ET_Ajax>
					</modules>
				</args>
			</adminhtml>
			<ajax>
				<use>admin</use>
				<args>
					<module>ET_Ajax</module>
					<frontName>ajax</frontName>
				</args>
			</ajax>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<ajax>
					<file>et/ajax.xml</file>
				</ajax>
			</updates>
		</layout>
		<translate>
			<modules>
				<ET_Ajax>
					<files>
						<default>ET_Ajax.csv</default>
					</files>
				</ET_Ajax>
			</modules>
		</translate>
	</adminhtml>
	<frontend>
		<routers>
			<ajax>
				<use>standard</use>
				<args>
					<module>ET_Ajax</module>
					<frontName>ajax</frontName>
				</args>
			</ajax>
			<quickview>
				<use>standard</use>
				<args>
					<module>ET_Ajax</module>
					<frontName>quickview</frontName>
				</args>
			</quickview>
		</routers>
		<layout>
			<updates>
				<ajax>
					<file>et/ajax.xml</file>
				</ajax>
			</updates>
		</layout>
		<translate>
			<modules>
				<ET_Ajax>
					<files>
						<default>ET_Ajax.csv</default>
					</files>
				</ET_Ajax>
			</modules>
		</translate>
	</frontend>
	<default>
		<et_ajax_configs>
			<general>
				<is_enabled>1</is_enabled>
				
				<is_ajax_compare_enabled>1</is_ajax_compare_enabled>
				<is_ajax_checkout_enabled>1</is_ajax_checkout_enabled>
				<is_ajax_wishlist_enabled>1</is_ajax_wishlist_enabled>
				<is_ajax_quickview_enabled>1</is_ajax_quickview_enabled>
				
				<loading_size>260</loading_size>
				<confirm_size>320</confirm_size>
				<options_size>400</options_size>
				<quickview_size>888x488</quickview_size>
        	</general>
		</et_ajax_configs>
	</default>
</config>
