<?xml version="1.0"?>
<config>
	<modules>
		<ET_Slider>
			<version>1.0.4</version>
		</ET_Slider>
	</modules>
	<global>
		<models>
			<slider>
				<class>ET_Slider_Model</class>
				<resourceModel>slider_resource</resourceModel>
			</slider>
			<slider_resource>
				<class>ET_Slider_Model_Resource</class>
				<entities>
					<group>
						<table>et_slider_group</table>
					</group>
					<slide>
						<table>et_slider_slide</table>
					</slide>
					<caption>
						<table>et_slider_caption</table>
					</caption>
				</entities>
			</slider_resource>
		</models>
		<blocks>
			<slider>
				<class>ET_Slider_Block</class>
			</slider>
		</blocks>
		<helpers>
			<slider>
				<class>ET_Slider_Helper</class>
			</slider>
		</helpers>
		<resources>
			<slider_setup>
				<setup>
					<module>ET_Slider</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</slider_setup>
			<slider_write>
				<connection>
					<use>core_write</use>
				</connection>
			</slider_write>
			<slider_read>
				<connection>
					<use>core_read</use>
				</connection>
			</slider_read>
		</resources>
	</global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<ET_Slider before="Mage_Adminhtml">ET_Slider_Adminhtml</ET_Slider>
					</modules>
				</args>
			</adminhtml>
			<slider>
				<use>admin</use>
				<args>
					<module>ET_Slider</module>
					<frontName>slider</frontName>
				</args>
			</slider>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<slider>
					<file>et/slider.xml</file>
				</slider>
			</updates>
		</layout>
		<translate>
			<modules>
				<ET_Slider>
					<files>
						<default>ET_Slider.csv</default>
					</files>
				</ET_Slider>
			</modules>
		</translate>
	</adminhtml>
	<frontend>
		<routers>
			<slider>
				<use>standard</use>
				<args>
					<module>ET_Slider</module>
					<frontName>slider</frontName>
				</args>
			</slider>
		</routers>
		<layout>
			<updates>
				<slider>
					<file>et/slider.xml</file>
				</slider>
			</updates>
		</layout>
		<translate>
			<modules>
				<ET_Slider>
					<files>
						<default>ET_Slider.csv</default>
					</files>
				</ET_Slider>
			</modules>
		</translate>
	</frontend>
	<default>
		<et_slider_configs>
			<general>
				<group_id>1</group_id>
			</general>
		</et_slider_configs>
	</default>
</config>
